p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: yellow;
    text-align: center;
}
.table {
    font-size: larger;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: blue;
}
table {
    background-color: deepskyblue;
}
